<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd

                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd


                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
                          ">
    <!-- 2.HandlerMapping 映射处理器/3.HandlerAdapter 适配器 -->
    <mvc:annotation-driven/>

    <!-- 4.handler 业务处理器 UserController 处理核心业务逻辑，并返回对应的视图与数据模型(ModelAndView) -->
    <context:component-scan base-package="com.ssm.controller"/>
    <context:component-scan base-package="com.ssm.globalexceptionhandler"/>


    <!-- 5.ViewResolver 视图解析器(类名要求记住:InternalResourceViewResolver) -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置视图的位置 prefix:前缀 -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>

        <!-- 6.View 具体的视图 -->
        <!-- <property name="viewClass" value=" org.springframework.web.servlet.view.JstlView"/> -->
    </bean>




    <!-- 访问WebRoot下的静态资源 -->
    <!--  <mvc:default-servlet-handler/> -->


    <!-- http://localhost:8080/SpringMVC/images/1.png -->
    <!-- <mvc:resources location="/" mapping="/**"/> -->

    <!-- SpringMVC框架中的静态资源能访问 -->
    <mvc:resources location="/js/" mapping="/js/**" />
    <mvc:resources location="/images/" mapping="/images/**" />

    <!-- <mvc:resources location="/WEB-INF/images/" mapping="/images/**"></mvc:resources>  -->

    <mvc:view-controller path="/showLogin" view-name="login" />
    <!--<mvc:view-controller path="*"/>  -->

    <!--
                 配置文件上传
            1. id="multipartResolver" 不能变
            2. commons-fileupload.jar
               commons.jar
                              此时我们要重新部署我们的项目
            3.class只能时是  CommonsMultipartResolver

            java.lang.OutOfMemoryError: PermGen space  内存溢出错误
     -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 限制要上传的文件的大小 :  100M -->
        <property name="maxUploadSize" value="104857600" />
        <!-- 防止中文乱码问题 -->
        <property name="defaultEncoding" value="utf-8" />
    </bean>
    <!-- 配置拦截器  可以配置多个拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>

            <!-- (2)需要拦截谁 -->
            <mvc:mapping path="/log/*" />

            <!-- (3)不拦截谁  exclude 表示排除  -->
            <mvc:exclude-mapping path="/log/find"/>

            <!-- (1)拦截器是谁 -->
            <bean class="com.ssm.interceptor.LogInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>